temp/
Debug/
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.lib
*.pdb
*.exp
*.ilk
VS2013Kodi_AddonProject/
src/drc/
adsp.XConvolver/IRs/
Logo/
adsp.xconvolver/resources/opair-scraper/
messen/
ToDo.txt
adsp.xconvolver/python.scripts/download/
